body {
  min-height: 100vh;
  background-color: darkslategrey;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
}

#dice {
  width: 200px;
  height: 200px;
  background-color: bisque;
  margin: 20px;
  border-radius: 15%;
  padding: 30px;
  box-shadow: 10px 10px 10px;

  position: relative;
}
.dot {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 100%;
  box-shadow: inset 3px 3px 8px 0px #fff;
}
#dot_center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

#dot_1 {
  position: absolute;
  top: 25%;
  left: 25%;
  margin: -25px 0 0 -25px;
}

#dot_4 {
  position: absolute;
  top: 75%;
  left: 75%;
  margin: -25px 0 0 -25px;
}

#dot_2 {
  position: absolute;
  top: 25%;
  left: 75%;
  margin: -25px 0 0 -25px;
}

#dot_3 {
  position: absolute;
  top: 75%;
  left: 25%;
  margin: -25px 0 0 -25px;
}

#dot_mid_ouest {
  position: absolute;
  top: 50%;
  left: 25%;
  margin: -25px 0 0 -25px;
}

#dot_mid_est {
  position: absolute;
  top: 50%;
  left: 75%;
  margin: -25px 0 0 -25px;
}
